[tool.poetry]
name = "quantfreedom"
version = "0.1.4"
description = ""
authors = ["QuantFreedom <QuantFreedom1022@gmail.com>"]

[tool.poetry.dependencies]
ipykernel = "6.25.0"
dash = "2.9.1"
dash-bootstrap-templates = "1.1.1"
ipywidgets = "8.1.1"
jupyter-dash = "0.4.2"
kaleido = "0.1.*"
notebook = "6.5.6"
numba = "0.58.1"
numpy = "1.26.1"
pandas = "2.1.1"
plotly = "5.17.0"
ecdsa = "0.18.0"
mpmath = "1.3.0"
sympy = "1.12"
web3 = "6.15.1"
python = "^3.10"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"