[tool.poetry]
name = "quantfreedom"
version = "0.0.1"
description = ""
authors = ["QuantFreedom <QuantFreedom1022@gmail.com>"]

[tool.poetry.dependencies]
dash = "2.9.1"
dash-bootstrap-templates = "1.1.1"
ipywidgets = "8.1.1"
jupyter-dash = "0.4.2"
kaleido = "0.1.*"
notebook = "6.5.6"
numba = "0.58.1"
numpy = "1.26.1"
pandas = "2.1.1"
plotly = "5.17.0"
pycryptodome = "3.19.0"
python = "3.10"
web3 = "5.31.4"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"