[tool.poetry]
name = "quantfreedom"
version = "0.1.2"
description = ""
authors = ["QuantFreedom <QuantFreedom1022@gmail.com>"]

[tool.poetry.dependencies]
ipykernel = "6.25.0"
dash = "2.9.1"
dash-bootstrap-templates = "1.1.1"
ipywidgets = "8.1.1"
jupyter-dash = "0.4.2"
kaleido = "0.1.*"
notebook = "6.5.6"
numba = "0.58.1"
numpy = "1.26.1"
pandas = "2.1.1"
plotly = "5.17.0"
python = "^3.10"

[tool.poetry.group.apex]
optional = true

[tool.poetry.group.apex.dependencies]
ecdsa = "0.16.0"
mpmath = "1.0.0"
sympy = "1.6"
pycryptodome = "3.19.0"
web3 = "6.13.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"