{{! QF Docstring Template }}
Summary
-------
{{summaryPlaceholder}}
        
Explainer Video
---------------
Coming Soon but if you want/need it now please let me know in discord or telegram and i will make it for you

{{#parametersExist}}
Parameters
----------
{{#args}}
{{var}} : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
{{var}} : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/kwargs}}
{{/parametersExist}}

{{#returnsExist}}
Returns
-------
{{#returns}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}