body {
  background-color: #0b0b18;
}
.custom-tabs-container {
  width: 100%;
  background-color: #0b0b18;
}
.custom-tabs {
  border-top-left-radius: 3px;
  background-color: #0b0b18;
  padding: 0px 24px;
  border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
  color: #586069;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #0b0b18;
  padding: 12px !important;
  font-family: "system-ui";
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.custom-tab--selected {
  color: black;
  background-color: #0b0b18;
  box-shadow: 1px 1px 0px white;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-top: 3px solid #00ff1e !important;
}
